*{
    margin-top: 10px;
    padding: 0;
    text-decoration: none;
}
.center{
    width: 1500px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 30px 30px;
    border-radius: 5px;
}
h1{
    margin: 10px 0;
}
.line{
    height: 2px;
    width: 800px;
    background-color: black;
    margin: 30px 0;
}
img{
    width: 400px;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 8px;
}
.buttons{
    margin: 20px 0;
}
.images{
    margin: 20px 0;
}